html {
  scroll-behavior: smooth;
}

body{
  	background: linear-gradient(89.84deg, #ACE6FF 0.09%, #A7FFDA 99.92%);
  	scroll-behavior: smooth;
}

nav{
	background-image: linear-gradient(#000000, #000000) !important;
	border: 1px solid transparent !important; 
    border-color: #2b2b2b !important;
    border-top:0 !important;
	border-left:0 !important;
	border-right:0 !important;
	font-weight: bold !important;
	font-size: 18px !important;
}


nav a:hover { 
	background: -webkit-linear-gradient(left, #99E0FF, #A7FFDA) !important;
  	-webkit-background-clip: text !important;
  	-webkit-text-fill-color: transparent !important;
  	font-weight: bold !important;
}

.current { 
	background: -webkit-linear-gradient(left, #99E0FF, #A7FFDA) !important;
  	-webkit-background-clip: text !important;
  	-webkit-text-fill-color: transparent !important;
  	font-weight: bold !important;
}

.title{
	color: black;
	font-size: 35px;
	margin: 50px;
}

.container{
	color: black;
	margin: 50px;
}

#main-image{
	height: 100px;
	width: 100px;

}

#help-now{
	background: #ffccff;
	text-align: center;
	font-size: 17px;

	border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 150px; 
}

.dropdown-menu{
	width: 100% !important;
}
.dropdown-item:hover{
	background: -webkit-linear-gradient(left, #000000, #000000) !important;
  	-webkit-background-clip: text !important;
  	-webkit-text-fill-color: transparent !important;
  	font-weight: bold !important;
}

footer{
	position: absolute !important;
 	bottom: 0px !important;
 	width: 100% !important;
	background-color:rgb(0,0,0);	
	padding: 10px;
	color: white;
	border-top: 1px solid #2b2b2b; 
  	font-size: 10px !important;
  	margin-top:30px !important;
  	margin-bottom:-50px !important;
}


