html {
  	scroll-behavior: smooth;
	position: relative;
}

body{
  	background: linear-gradient(89.84deg, #ACE6FF 0.09%, #A7FFDA 99.92%);
  	scroll-behavior: smooth;
	display: block;
	position: relative;
}

nav{
	background-image: linear-gradient(#000000, #000000) !important;
	border: 1px solid transparent !important; 
    border-color: #2b2b2b !important;
    border-top:0 !important;
	border-left:0 !important;
	border-right:0 !important;
	font-weight: bold !important;
	font-size: 18px !important;
}


nav a:hover { 
	background: -webkit-linear-gradient(left, #99E0FF, #A7FFDA) !important;
  	-webkit-background-clip: text !important;
  	-webkit-text-fill-color: transparent !important;
  	font-weight: bold !important;
}

#search-submit {
	background: #99E0FF;
	color: black;
	border-color: #A7FFDA;
}

.current { 
	background: -webkit-linear-gradient(left, #99E0FF, #A7FFDA) !important;
  	-webkit-background-clip: text !important;
  	-webkit-text-fill-color: transparent !important;
  	font-weight: bold !important;
}

.title{
	color: black;
	font-size: 35px;
	margin: 50px;
}

.container{
	color: black;
	position:relative !important;
	margin:50px !important;
	margin-top: -30px !important;
}

#main-image{
	height: 100px;
	width: 100px;

}

#help-now{
	background: #ffccff;
	text-align: center;
	font-size: 17px;

	border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 150px; 
}

.dropdown-menu{
	width: 100% !important;
}
.dropdown-item:hover{
	background: -webkit-linear-gradient(left, #000000, #000000) !important;
  	-webkit-background-clip: text !important;
  	-webkit-text-fill-color: transparent !important;
  	font-weight: bold !important;
}

#messageList{
	background:white !important;
	width: 100%;
  	height: 60%;
  	margin:auto;
  	overflow: auto;
  	scroll-behavior: smooth;
  	padding:0px !important;
  	padding-bottom: 20px !important;
	display: inline-block !important;
	border: 2px solid #000000 !important;
	box-sizing: border-box !important;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25) !important;
	border-radius: 10px !important;
}

.sendButton{
	float:right !important;
	width: 15% !important;
	background-color: #99E0FF !important;
  	border: 2px solid black !important;
  	z-index: 3 !important;
  	position: absolute;
  	right: 15px !important;
  	top: 95% !important;
	padding: 5px !important;
}

.sendButton:hover{
	background-color: #62CFFF !important;
}

#userDiv{
	border-radius: 25px;
	background: #BDEBFF !important;
	text-align: right !important;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	float:right !important;
	display: inline-block !important;
	margin-top:10px !important;
	margin-left:15px !important;
	margin-right:15px !important;
}

#cbDiv{
	border-radius: 25px;
	background: #CCFFEA !important;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	display: inline-block !important;
	margin-top:10px !important;
	margin-left:15px !important;
	margin-right:15px !important;
	white-space: pre !important;
}

#userInput{
	width: 85% !important;
	padding: 5px !important;
	padding-left: 15px !important;
	border: 2px solid black;
	z-index: 2 !important;
	position: absolute;
  	left: 15px !important;
  	top: 95% !important;
}

#wrapperDiv{
	width:100% !important;
	display: inline-block !important;
}

#mapImg{
	width:100%;
	border: 4px solid black;
}

footer{
	position: absolute !important;
 	bottom: 0px !important;
 	width: 100% !important;
	background-color:rgb(0,0,0);	
	padding: 10px;
	color: white;
	border-top: 1px solid #2b2b2b; 
  	font-size: 10px !important;
  	margin-top:30px !important;
  	margin-bottom:-50px !important;
}

#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
 }



